extends layout.pug

block content      
    section#content
        h2= text
        if hint
            p
                i Hint: #{hint}
        p
            a(href=`/cards/${id}?side=${backSide}`)= backSide
        p
            a(href='/cards') New Card
